#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container{
  display: flex;
}

.ladoDerecho{
  display: flex;
  flex-direction: column;
}

.ladoDerecho p{
  font-size: 27px;
}

.ladoDerecho li{
  text-align: left;
}

.ladoIzquierdo img{
  height: 250px;
}


.refresh{
  border: 1px solid gray;
  margin-top: 15px;
}
